[2016-10-31 16:15] asanzo opened #1 "Categorías de bloques para Gobstones"
Las categorías ideales son las siguientes:

1. Comandos
   1. Comandos primitivos (Poner, Mover, Sacar, IrAlBorde, VaciarTablero, BOOM)
   1. Procedimientos Primitivos (provistos por Gobstones Web)
   1. Procedimientos
   1. Alternativas (si-entonces-sino, si-entonces, (*)switch)
   1. Repeticiones (repetir, repetir-hasta-que, (*)para-cada)
   1. Asignación (:=)
1. Expresiones
   1. Literales (col

[2016-10-31 16:34] asanzo commented on #1
Como esto es lo ideal, mi propuesta es que comencemos por no modificar la interfaz de parametrización ó de definición de funciones, sino que en un principio optemos por el formato de Blockly.

En un primer sprint yo pondría todas las categorías (aunque algunas queden vacías, sólo para ir planteando el terreno a futuro. Y empezaría por estos bloques, que son los más importantes:

Primer iteración:

[2016-11-09 14:15] flbulgarelli opened #2 "Eliminar vestigios de gs-element-starter"
Recorriendo el código, varias veces me topé con referencias a la plantilla `gs-element-starter`. Por ejemplo:

* https://github.com/Program-AR/gs-element-blockly/blob/dev/bower.json
* https://github.com/Program-AR/gs-element-blockly/blob/dev/app/gs-element-starter.html
* https://github.com/Program-AR/gs-element-blockly/blob/dev/app/manifest.json

Sería muy bueno eliminar o corregir esas referencia

[2016-11-09 15:20] faloi opened #3 "Duplicar una secuencia de bloques"
Podría ser al estilo Scratch, que duplica todo lo que haya desde donde se hizo clic hacia abajo o haciendo que sea necesario "pintar" previamente aquello que se desea copiar (dibujando un área con el mouse).

[2016-11-29 22:08] asanzo opened #4 "Faltan literales "Negrohttps://github.com/Program-AR/gs-element-blockly/issues/4" y "Azul""
Eso :P

[2016-11-29 22:11] asanzo opened #5 "Bloque "Separador""
Algo que hablamos con Fidel es que, en los primeros programas de Gobstones, era común usar comentarios ó Enters ó ";" para separar los "conjuntos" de bloques que hacen cada parte del programa.

Por ejemplo, para dibujar un cuadrado  **antes de conocer procedimientos**, se hacía algo así:

[code]

Este tipo de agrupación, _necesaria cuando todavía no se saben procedimientos_, no se puede lograr pro

[2016-11-29 22:23] asanzo opened #6 "Configuración Inicial del toolbox configurable por parámetro"
En Gobstones Web va a haber idea de "Actividades", donde **se espera que los editores que se muestren sean ligeramente distintos**.

En principio, entre las distintas actividades los editores sólo diferirían en que _algunas categorías se mostrarán y otras no_, y _algunos bloques se mostrarán y otros no_.

Entonces, el componente gs-element-blockly **debería recibir por parámetro las categorías y/o

[2016-11-29 22:28] asanzo opened #7 "Instalar componente como dependencia de bower"
Copio del mail original de @rodri042

Necesitaríamos que el `<gs-element-blockly>` se pueda instalar como componente bower. Creo que en ese repo hay una task de gulp que prepara todo y sube a una branch el artifact para que cuando uno instale el paquete solo se baje lo necesario.

Un primer paso podría ser hacer algo como:

[code]

[code]

... y que eso muestre el elemento. Ahora no está andando y

[2016-11-29 23:01] asanzo opened #8 "Programa Interactivo"
Gobstones permite crear programas interactivos. Hay que pensar cómo se podrían construir con bloques.

Ejemplo:

[code]

* La sintaxis básica no es la misma que con un "program", sino que son múltiples "asociaciones", que son "tecla -> bloque".
* `INIT_BLOCK` es opcional y solo puede ir al principio.
* Hay un bloque default opcional que solo puede ir al final (y que se identifica con `_`)

Las tec

[2016-11-30 16:17] faloi commented on #6
Lo que queremos con @fidel-ml son dos niveles de configuración: bloques visibles y bloques activados.

Esto no es capricho sino que responde al siguiente principio: toda herramienta que fue presentada en una actividad tiene que quedar visible en todas las siguientes, de modo que la caja de herramientas **siempre** se incremente. Aún así, en algunas actividades puede tener sentido no permitir el us

[2016-12-01 20:48] asanzo commented on #6
Buenas!

Según esto, distingo tres estados posibles:

- Visible y habilitado: Aparece en el toolbox y se puede usar normalmente.
- Visible y no habilitado: ¿Aparecería en el toolbox grisado y sin poderse usar?
- No visible: No aparece en el toolbox, independientemente de estar habilitado ó no.
- Descarto que esté no visible y habilitado, porque **no se puede usar un bloque que no esté en el toolbo

[2016-12-01 21:24] faloi commented on #6
Fue una discusión larga que tuvimos en el equipo, le dejo a @fidel-ml la tarea de reproducirla.

La interfase (nunca sé cómo escribir esa palabra) me parece que está bien, aunque no termino de ver por qué tiene que ser HTML. Algo que me imagino que sería interesante es tener una forma de consultar qué bloques existen y en qué categorías están, para eventualmente armar una UI que te deje selecciona

[2016-12-01 21:44] afska commented on #6
Sí. Para mí estaría bien así. Aunque si hacemos lo de bloques grisados deberían ser dos grupos (visibles y deshabilitados).

Sería copado que eso se pueda bindear contra una propiedad y se puedan agregar bloques visibles sin tener que recargar el elemento, perdiendo así lo que fue armando el pibe. Pero ojo, estoy volando, todavía no hablamos nada de cómo encarar las actividades

[2016-12-01 22:34] fidel-ml commented on #6
La idea pedagógica es que vos le estás enseñando una serie de herramientas
conceptuales, y armando un mapa mental con las mismas.
Entonces, si ya conoce una herramienta, tiene que aparecer en el mapa: no
tiene sentido un mapa que cambia a cada rato, pero sí uno que crece
(sacando "FoW"... :)).
Sin embargo, hay actividades que invitan a solucionar el problema de cierta
manera, y entonces se requier

[2016-12-01 22:39] fidel-ml commented on #6
La disposición en grupos de los elementos es fija, estén o no
deshabilitados. O sea, el mapa tiene que ser EL MISMO a lo largo de todas
las actividades, y solo se puede incrementar a medida que cada actividad es
más avanzada.
No sirve que se agrupen los deshabilitados en un lado separado...

Si trata de usar un comando deshabilitado, el mensaje debería ser algo como
"Esta actividad tenés que soluc

[2016-12-02 21:33] asanzo opened #9 "Poder decidir si mostrar ó no un bloque en el toolbox"
En cualquier caso, debe mantenerse la jerarquía propuesta en #1.

O sea, si quiero mostrar solamente "hayBolitas", "Poner" y "Sacar", entonces el toolbox debe verse así:

[code]

Esto se había logrado en Pilas Bloques listando los objetos "Bloque" (descritos en la [wiki](https://github.com/Program-AR/pilas-bloques/wiki/Lenguaje-y-Bloques%3A-Dise%C3%B1o-viejo)) que entrarían en el toolbox. Como cad

[2016-12-02 21:56] asanzo commented on #6
El mapa del que habla Fidel está [acá](https://github.com/Program-AR/gs-element-blockly/issues/1).

Que aparezca siempre en la misma categoría ya lo habíamos implementado en Pilas Bloques, es factible. Lo detallo en #9

Desde la aplicación Gobstones Web (no desde este componente) se va a decidir qué bloques se muestran y qué bloques no, idem con estar habilitados ó no. La lista de bloques la tiene

[2016-12-02 22:04] fidel-ml commented on #1
A las categorías habría que agregar "Asociaciones"... Sería para interactive y para el switch. ¿No?
(Ya sé, no pensamos aún el switch, y yo voy a 10mil... :D).

[2016-12-02 22:07] fidel-ml commented on #6
No, no quiero que se pueda sacar del toolbox. Pero si se para arriba y
trata de sacarlo, estaría bueno un mensaje de error que le diga por qué no
puede. Si es quilombo, y el gris es como que no existe, entonces leesto.

PD: Qué es "mis propios saltos de línea"?

2016-12-02 18:56 GMT-03:00 asanzo <notifications@github.com>:

[2016-12-02 22:17] asanzo opened #10 "Que un bloque pueda estar deshabilitado"
Cuando un bloque está deshabilitado:

- Debe verse grisado en el toolbox
- No debe poderse arrastrar (o sea, no debe poderse sacar del toolbox).

Si puede tener un aviso al intentar sacarlo (ó al menos un tooltip) debe decir:
"Esta actividad tenés que solucionarla sin este elemento".

[2016-12-26 15:54] asanzo opened #11 "Expresiones largas son incómodas"
Mail original de @fidel-ml

Cuando se construyen expresiones complicadas, la indentación es nula... Blockly muy lindo para comandos, pero para expresiones muestra la pata flaca.

Piensen en cómo queda el bloque para

[code]

todo en una sola línea violenta... :(

¿Hay alguna forma de aliviar esto?

[2016-12-26 15:55] asanzo commented on #11
La respuesta rápida es que no podemos tocar nada de Blockly por ahora, por falta de tiempo. Me gustaría cajonear esto hasta tener cancha.

Por otro lado, una rápida googleada no me trajo nada al respecto, hay que investigarlo un poquito.

[2016-12-26 16:37] fidel-ml commented on #11
Se cajonea un ratito... A mí se me ocurrió que podría haber un "y" horizontal y otro "y" vertical (y lo mismo para los demás operadores).

[2016-12-26 17:22] asanzo commented on #11
Eso técnicamente es factible.

Pedagógicamente.... No sé.  Creo que me gusta la idea de que "hacia abajo" son comandos y "hacia la derecha" son expresiones. Aunque quizás en algún momento el pibe lo sienta necesario.

Esperemos a probar con pibes.

[2016-12-26 17:26] fidel-ml commented on #11
El tema es que yo espero construir expresiones con cierta complejidad, y
tener que leerlas hacia la derecha lléndose 3 pantallas es un garrón.
Además, los temas de parentización pesan.
Claramente hay que buscar una forma más razonable de conseguir hacer
expresiones... (Esta gente imperativa, que no piensa en las expresiones...
:D).
FF

2016-12-26 14:22 GMT-03:00 asanzo <notifications@github.com>:

[2016-12-26 17:51] miguelgarcia commented on #11
Podemos hacer que al generar el código el bloque expr1 AND expr2 haga esto :
Si len(expr1) + len(expr2) + 2 > 80: escupir expr1 && \n expr2
Si no, escupir expr1 && expr2

Otra alternativa es, al finalizar la generación de código y antes de devoverlo pasar el resultado por alguna función que se encargue de ponerlo lindo.

[2016-12-26 17:55] fidel-ml commented on #11
El tema no es en texto, sino en lo que se vé en la interfaz de bloques!

2016-12-26 14:51 GMT-03:00 Miguel Garcia <notifications@github.com>:

[2016-12-27 13:47] asanzo opened #12 "Falta primitiva BOOM"
El bloque debe llamarse "BOOM" y tener un agujero donde se escribe un string.

Debe escupir:

[code]

(los tres puntos es donde va el string)

[2016-12-27 13:50] asanzo opened #13 "CamelCase en los nombres generados"
Hoy los nombres de los procedimientos se generan con snake case:

Nombre_del_proc

Deberían generarse con CamelCase:

NombreDelProc

[2016-12-27 14:00] asanzo opened #14 "Internacionalización"
![seleccion_147](https://cloud.githubusercontent.com/assets/5421992/24414889/0bc3c388-13b6-11e7-84c7-3328903b52d9.png)

![seleccion_148](https://cloud.githubusercontent.com/assets/5421992/24414985/5aa3a6c6-13b6-11e7-9ac5-9be0dd5ec094.png)

Todos los nombres de bloques, y tooltips, todo lo que muestre en los bloques idioma español, debería estar delegado a otro lado.

En un sólo lugar tiene que hab

[2016-12-27 14:02] asanzo opened #15 "Nombres de los bloques: No CamelCase"
Si bien queremos que _lo que escupen_ los bloques sea CamelCase (#13) los nombres de los bloques que se muestran (VaciarTablero, poir ejemplo) debería estar legible en "español":

Vaciar tablero

Ir al borde

[2016-12-27 14:08] asanzo opened #16 "Cambiar nombre "Sensores primitivos""
Esa categoría debe llamarse "Expresiones primitivas"

[2016-12-27 14:12] asanzo opened #17 "Procedimientos Primitivos"
Del lado de Gobstones Web, al definir una actividad, probablemente existan _procedimientos que vengan ya programados gratis, y que no queremos que se vea el código_, **pero sí deben poderse usar**.

Entonces, en el toolbox tienen que aparecer los bloques que representan _la llamada_ a esos procedimientos.

Por ejemplo, si me dicen que tengo que mostrar en el toolbox los procedimientos primitivos [

[2016-12-27 14:12] asanzo commented on #1
Atenti al hacer la segunda iteración que _acabo de modificar un poco la lista de categorías_ en la descripción inicial de este issue.

* Cambié "Sensores primitivos" por "Expresiones primitivas".
* Agregué las categorías "Procedimientos Primitivos" y "Funciones Primitivas" (#17)

[2016-12-27 14:38] asanzo opened #18 "Append blocks"
El componente debe permitir recibir una representación de bloques ya programados por otro alumno para agregarlo al workspace actual (sin que esto reemplace el código que ya está escrito).

Esto sirve para los trabajos en grupo: Si nos dividimos y cada uno hace un procedimiento, este "append" sirve para poder juntar lo que hicieron varios en diferentes compus.

Caso puntual:
* Si los bloques que se

[2016-12-27 14:46] asanzo opened #19 "Proveer solución inicial inmóvil"
Para algunas actividades, al mostrarse el componente, es necesario que aparezca en el Workspace ya un conjunto de bloques (como la definición de un procedimiento, por ejemplo) para que el chico pueda usar en su solución.

Adicionalmente, este código que ya se provee debe aparecer fijo (no se puede editar ni cambiar).

[2016-12-27 14:50] asanzo commented on #1
Inicialmente, los operadores binarios +, -, >, y, o , etc. deben verse _external_:

![seleccion_020](https://cloud.githubusercontent.com/assets/5421992/21501849/43bcb76e-cc2a-11e6-895d-8aba01fc803c.png)

Y no así:

![seleccion_021](https://cloud.githubusercontent.com/assets/5421992/21501877/5f3fb69e-cc2a-11e6-8348-0846c4b63d8b.png)

(sólo con los que tienen dos inputs).

Adicionalmente, los lógico

[2016-12-27 14:57] asanzo opened #20 "Toggle inline vs external operadores binarios"
Si bien en un comment de #1 decimos que los operadores binarios deben tener los inputs mostrados "external", estaría bueno en un futuro agregar un botoncito que haga "toggle" entre ambos.

![seleccion_0200](https://cloud.githubusercontent.com/assets/5421992/21503267/e98682e2-cc34-11e6-933d-829674111119.png) ![seleccion_022](https://cloud.githubusercontent.com/assets/5421992/21503263/e1fb84be-cc34-

[2016-12-27 15:04] asanzo commented on #11
Se solucionaría con #20

[2016-12-27 15:04] #11 closed, assigned to nobody

[2016-12-27 15:08] asanzo opened #21 "Guardar solución"
Que el componente provea la posibilidad de obtener el workspace para que Gobstones Web se lo guarde

[2016-12-27 16:23] asanzo commented on #14
Hoy Blockly provee una forma de internacionalizar llamando a Blockly.Msg:

Por ejemplo, para definir el bloque repeat, hacen:

[code]

Y después tienen diferentes archivos en la carpeta "msg".

Por ejemplo, es.js tiene:

[code]

Y en.js tiene:

[code]

¿Se les ocurre cómo hacerlo con los bloques de Gobstones? ¿Queremos usar lo mismo ó conocen algo mejor?

[2016-12-27 20:18] asanzo commented on #7
@rodri042 Esto ya está hecho, ya pueden hacer:

[code]

Nosotros tenemos varias cosas para avanzar, pero estaría bueno empezar a intentar integrar y descubrir problemas que surjan.

[2016-12-30 21:50] asanzo opened #22 "Cargar solución íntegra reemplazando el Workspace"
Esto funcionaría como inverso a #21

O sea, dado un string que representa el workspace, se reemplaza lo existente (Como si fuera un "abrir solución"). La idea es que Gobstones Web (la app grande) pueda comunicarse con el componente gs-element-blockly para producir esto.

[2016-12-30 22:23] asanzo commented on #17
@faloi  pegale un vistazo a esto.

[2016-12-30 22:30] faloi commented on #17
Clarísimo para mí, es exactamente lo que queremos. Quizás agregaría que cada vez que "se llame al método que los configura" se tienen que pisar, porque puede (y va a) pasar que un pibe cambie de actividad y entonces haya otros procedimientos primitivos, o incluso ninguno.

@rodri042, ¿algo que quieras agregar?

[2016-12-30 22:31] asanzo opened #23 "Pensar Interfaces del componente"
Hay varios features que impactan directamente en la interfaz del componente gs-element-blockly con el resto de la app (Gobstones Web) y muchos **tienen cosas en común** (como que requieren pasar listas de bloques, ó conjuntos de bloques para el workspace, etc).

Además, una vez definidas las interfaces el equipo de Gobstones Web podrá trabajar **paralelamente**

**Entonces**

Deberíamos definir in

[2016-12-30 23:04] asanzo opened #24 "Formas de organizar código (colapsar bloque)"
Propuesto por Fidel:

Tenemos que resolver el problema de que el pibe maneje en el workspace **mucho código**

procedimentos se puedan "foldear". O sea, esconder el bloque que lo
define y quedar en una línea (de manera similar al "Edit" en
Code.org).

tener "páginas" de canvas, o sea, varios canvas diferentes donde puedo
poner diferentes cosas. (Al estilo las hojas de una planilla de
cálculo).

po

[2016-12-31 16:32] #2 closed, assigned to nobody

[2017-01-06 21:01] #1 closed, assigned to nobody

[2017-01-06 21:01] #4 closed, assigned to miguelgarcia

[2017-01-06 21:01] #9 closed, assigned to nobody

[2017-01-06 21:01] #17 closed, assigned to nobody

[2017-01-06 21:05] #12 closed, assigned to nobody

[2017-01-06 21:05] #16 closed, assigned to nobody

[2017-01-10 06:31] afska commented on #7
Hola!

Estuve probándolo y no lo pude hacer andar, ¿alguno me da una mano?
Dejo la prueba que hice: https://github.com/rodri042/prueba-blockly

Algunas cosas:
- https://github.com/Program-AR/gs-element-blockly/blob/518b7930c0681b85d9eb1f04520884bf63eaddd6/app/gs-element-blockly.html#L34 este `<h1>` indicando el nombre del componente deberíamos sacarlo, así al incluir el elemento queda solo el work

[2017-01-10 06:34] afska commented on #7
Comprobado. Cambiando esos items se solucionaría el tema:

![screenshot2](https://cloud.githubusercontent.com/assets/1631752/21796160/7b2fcc64-d70f-11e6-872a-4de5e546e9d0.png)

[2017-01-10 07:39] afska opened #25 "No funciona dentro de otro componente Polymer"
Relacionado a https://github.com/Program-AR/gs-element-blockly/issues/7

Me metí en las entrañas de `bower_components` y cambié las cosas que puse [por aquí](https://github.com/Program-AR/gs-element-blockly/issues/7#issuecomment-271497546) pa' salir andando. Hay un tema:

Al usar el componente dentro de otro (cosa que va a ser necesaria en Gobstones Web), Polymer mete los elementos en un Local DOM

[2017-01-10 07:41] afska commented on #25
@asanzo

[2017-01-15 18:49] miguelgarcia commented on #23
Hice una propuesta de interfaz en el commit https://github.com/Program-AR/gs-element-blockly/commit/846ffa319e4ddb2ddbf44ee2fe3806bd469d3af6

[2017-01-16 18:41] asanzo commented on #23
Gracias, Mike!!!

Ahí actualicé el comment inicial haciendo referencia a la nueva interfaz. Ojo que falta especificar la interfaz #19 (ahí arriba puse **????** para marcarlo). La propiedad `workspaceCanEdit` no resuelve el problema, lo que se busca es _fijar ciertos bloques iniciales_. Esos no se podrán modificar (quedarán quietos como hoy el bloque "programa"), el resto de los bloques que quiera

[2017-01-18 06:37] afska commented on #23
Ahí lo pude ver.

Me parece bien! Para trabajar paralelamente algo re re importante es [este issue](https://github.com/Program-AR/gs-element-blockly/issues/25). Porfa, si tienen un rato chusméenlo, si solucionamos este tema yo ya puedo ir avanzando para meterlo dentro de GW.

Gracias! :smiley:

[2017-01-25 02:57] asanzo commented on #25
@rodri042 Mike se encarga cuando vuelva de vacas, perdón  por el cuelgue :$

[2017-01-25 23:39] asanzo commented on #7
Bueno, estoy intentando avanzar algo antes de que llegue Mike.

Ya pude reproducir todo lo que menciona @rodri042. Incluso ya hice los cambios en el branch https://github.com/Program-AR/gs-element-blockly/tree/bowerParalelo , y lancé una versión de prueba 0.0.4 a bower (ya anda el proyecto de prueba de rodri, si actualizás la versión de gs-element-blockly en su bower.json)

**pero todavía no merge

[2017-01-25 23:46] asanzo commented on #25
@miguelgarcia yo resolvería primero el #7.

Estuve mirando esto, leyendo con más amor lo que mandó Rodri, y no me gusta nada. Estuvimos escapando lo más posible a hacer un fork de blockly, porque básicamente lo que está pasando con todos los proyectos que usan blockly es que tienen su propio fork, que deben mantener ellos y los merges con los updates de Blockly no son triviales.

Qué terrible lo r

[2017-01-27 03:29] afska commented on #25
@asanzo

Qué raro que el flaco este del fork no le tiró un PR a blockly con eso, es medio heavy que no ande, aparte de que son dos cosas de Google XD

Hmm, de movida se me ocurre que vamos a tener problemas para redimensionarlo al tamaño del editor. Esto va a estar en https://gobstones.github.io/gobstones-web/#/blocks reemplazando al editor ace, y uno de los requerimientos es que se adapte cuando

[2017-01-27 03:36] afska commented on #7
Si esos cambios que tenés sin mergear funcionan, por mí sí. Ese `gs-element-starter` está medio abandonado, más que nada porque ningún componente **actual** de gobstones web lo está usando. El tablero es el único componente externo pero es más viejo y no está basado en él.

[2017-01-27 20:13] asanzo commented on #7
Entonces para mí hay que repensar la estructura y hacerlo bien de una.

Mientras tanto, la versión 0.0.4 ya anda.

¿Tenés alguna recomendación de estructura para el componente, @rodri042 ?

Tenemos poca experiencia en Polymer y me gustaría limpiar ahora que se puede, temprano, esto.  La estructura de ahora es innecesariamente compleja.

[2017-01-27 22:01] afska commented on #7
Concuerdo. Hmm, en la docu oficial de Polymer recomiendan https://github.com/PolymerElements/polymer-starter-kit

[2017-01-30 14:36] asanzo commented on #7
¿ Eso no es para hacer una app completa?

Ahí estuve chusmeando la doc de Polymer. Esta guía para un [reusable element](https://www.polymer-project.org/1.0/docs/tools/reusable-elements) parece que es la que hay que usar. De ahí más o menos creo que sabemos todo, sólo hay que darle bola a la última parte que dice una forma fácil de publicar una demo.

Dentro de ese lugar linkean a [Element Project

[2017-01-30 18:21] asanzo commented on #25
Hola de nuevo!

En realidad, hoy tenemos en otro proyecto un problema parecido resuelto metiendo dentro de un iframe, y el resize funcionando. Acá Hugo y Mike van a saber mejor que yo que no estoy metido en eso.

Tiro otro proyecto que encontré: [Blocklymer](https://github.com/rraallvv/blocklymer). Parece que el muchacho encontró una forma de meter Blockly directamente (sin forks ni iframes). La j

[2017-01-30 19:18] asanzo commented on #7
Bueno, no pude conmigo, así que ya limpié todo. Perdón si volé cosas de más, pero me pareció que mientras más limpio mejor.

@miguelgarcia ya no usamos gulp-cli, ahora usamos polymer-cli. Te recomiendo reclonarte el repo. Los pasos para la construcción están en el README. Eliminé las branches innecesarias, creé un pre-release 0.1.0 que anda bien con bower.

@rodri042 te hice un PR para tu proyecto

[2017-01-30 19:18] #7 closed, assigned to miguelgarcia

[2017-01-31 19:41] asanzo commented on #6
@miguelgarcia

Hoy hay un problema. La interfaz que figura es la siguiente:

![seleccion_057](https://cloud.githubusercontent.com/assets/5421992/22481244/43ea3134-e7d3-11e6-9ff9-0ae547d6cc07.png)

Pero en el issue #23 Figura "Entra: lista de ids de bloques visibles, y lista de ids de bloques deshabilitados."

¿Por qué es un String? Deberían ser **dos listas**.

Hablando con la gente de Gobstones,

[2017-01-31 19:45] asanzo opened #26 "Procedimientos Primitivos: debería ser una lista"
Mismo problema que el issue #6 , la interfaz es un String:

![seleccion_058](https://cloud.githubusercontent.com/assets/5421992/22481598/a47255a8-e7d4-11e6-9404-a637bae47f95.png)

Cuando debería ser una **lista de Strings**.

[2017-01-31 19:57] asanzo opened #27 "Mouseover: ícono debería ser manito, en cualquier parte del bloque"
Hoy el ícono al hacer mouseover sobre un bloque es un ícono "text":

![reunion1](https://cloud.githubusercontent.com/assets/5421992/22482056/2e35f9e2-e7d6-11e6-9b1a-7a9601d163bb.png)

Estaría bueno que fuera una "hand" ![seleccion_064](https://cloud.githubusercontent.com/assets/5421992/22482100/4cbe463a-e7d6-11e6-9a46-18765b59f8bf.png)

Fíjense que _al pasar por el texto del bloque_ el cursor es d

[2017-01-31 20:10] asanzo opened #28 "Literales pasarlos a dropdown"
Hoy se ven así:

![seleccion_065](https://cloud.githubusercontent.com/assets/5421992/22482334/4c032e12-e7d7-11e6-965a-6e021699b55f.png)

Estaría bueno que los del mismo tipo se vean en un dropdown:

![reunion1 005](https://cloud.githubusercontent.com/assets/5421992/22482449/cd969586-e7d7-11e6-988f-a97b85a208f7.png)

Esto debería pasar con los valores booleanos, con los valores colores y con los va

[2017-01-31 20:12] asanzo opened #29 "Categoría "Procedimientos Primitivos" está mal ubicada."
Debería ir entre "Comandos primitivos" y "Procedimientos":

![seleccion_066](https://cloud.githubusercontent.com/assets/5421992/22482608/783bbf52-e7d8-11e6-9ba1-a2cef043e890.png)

[2017-01-31 20:17] asanzo opened #30 "Expresiones: siempre deben comenzar con minúscula"
**Salvo los literales**, las expresiones siempre deben comenzar con minúscula:

![seleccion_067](https://cloud.githubusercontent.com/assets/5421992/22482736/11ad8738-e7d9-11e6-9420-b8bd4f9a8876.png)

[2017-01-31 20:22] asanzo opened #31 "Procedimientos Primitivos: el código producido debe tener guiones bajos"
No hay que sacar los guiones bajos de los procedimientos primitivos al generar el código:

![seleccion_068](https://cloud.githubusercontent.com/assets/5421992/22482918/d12608c4-e7d9-11e6-9446-74f3db49aa3e.png)

[2017-02-01 17:30] asanzo opened #32 "Definición de procedimientos: sacar guiones bajos del generated code"
En el nombre del procedimiento y de los parámetros, el código generado hoy incluye guiones bajos y no debería incluirlos. Debería generar `camelCase` para parámetros y `PascalCase` para los nombres de los procedimientos:

![seleccion_071](https://cloud.githubusercontent.com/assets/5421992/22518291/d8ce8af4-e88a-11e6-981e-78c40f5374a0.png)

Debería escupir:

[code]

[2017-02-01 17:48] asanzo opened #33 "Nombres de procedimientos y variables: debe ser UNICODE"
Gobstones está pensado para internacionalizarse.

Entonces, debería producir correctamente cualquier caracter unicode ingresado en un nombre:

![seleccion_072](https://cloud.githubusercontent.com/assets/5421992/22518980/760702c2-e88d-11e6-8fa2-3e86613fe19d.png)

[2017-02-01 17:51] asanzo opened #34 "Procedure call debería tener parámetros inline"
![seleccion_073](https://cloud.githubusercontent.com/assets/5421992/22519107/e9433d6e-e88d-11e6-98e6-b020c68f3805.png)

[2017-02-02 18:26] miguelgarcia commented on #25
Hola @rodri042 , hice cambios en gs-element-blockly, publique la versión 0.1.1, y en el proyecto de prueba de Alf https://github.com/asanzo/prueba-blockly .

Está funcionando prueba-con-local-dom.html, podrás pegarle una mirada a ver si con eso alcanzaría para meter el componente dentro de otro ?

Saludos !

[2017-02-02 19:36] afska commented on #25
Dale. A la noche lo miro!

Saludos!

El 2 de febrero de 2017, 15:26, Miguel Garcia <notifications@github.com>
escribió:

[2017-02-02 21:24] afska commented on #25
@miguelgarcia Ahí lo probé.

Funciona en mi repo de prueba, pero no en GW :cry:
![screenshot2](https://cloud.githubusercontent.com/assets/1631752/22568903/3c06ac14-e99e-11e6-92cb-ec91470ebc62.png)

No lo pude reproducir en un entorno más controlado, podés probarlo con https://github.com/gobstones/gobstones-web en la branch `prueba-blockly".
Ahí si hacés:
[code]

en http://localhost:5000/#/blocks f

[2017-02-03 04:07] miguelgarcia commented on #25
Por lo que ví, el problema es que por un error anterior el componente padre no se attachea al documento aparentemente. Si comento todo el código del método ready de gobstones-editor, entonces blockly se muestra bien.
   Les parece limpiar el código de gobstones-web de otros errores antes de integrar blockly ? así achicamos las fuentes de problemas.

[2017-02-03 04:15] afska commented on #25
Tenés mucha razón, me apresuré y al ver tipo de error que tiraba, me
pareció que era parte del mismo problema.

Está andando!
Por mí podemos dar por cerrado el issue. Si encuentro alguna otra cosa les
chiflo por otro lado.

Gracias a ambos!

El 3 de febrero de 2017, 1:07, Miguel Garcia <notifications@github.com>
escribió:

[2017-02-03 04:17] miguelgarcia commented on #25
Que bueno @rodri042 :)

Dale cerramos este issue y vamos levantando otros con lo que surja de la integración

Un golazo no tener que forkear blockly ni meter el iframe

[2017-02-03 04:17] #25 closed, assigned to miguelgarcia

[2017-02-03 18:50] asanzo opened #35 "Comenzando con Tests"
Estaría bueno tener algunos tests sobre las funcionalidades más importantes.

1. En principio, estaría bueno tener un mini framework simple, como la función "testPilas" de Pilas Bloques, que permita pasarle dos strings: un XML -bloques- y un código gobsontes, y haga un assert de que el código que produzcan esos bloques sea el pasado por parámetro.

2. Después, con eso hacer algunas pruebas:
 a. Un

[2017-02-03 21:33] miguelgarcia opened #36 "Reemplazar setTimeout por algún evento after attach al dom principal"

[2017-02-03 21:43] miguelgarcia commented on #35
Integramos travis ?

[2017-02-03 21:44] hugoruscitti commented on #35
Puede ser útil usar travis.ci como tenemos en Program-Ar/pilas-bloques y tal vez surge.sh para deploys automáticos (https://surge.sh/help/integrating-with-travis-ci)

cc: @asanzo  @miguelgarcia

[2017-02-06 15:46] asanzo opened #37 "Falta categoría y Bloque "Asignación""
La última subcategoría de Comandos debe ser Asignación.

El bloque debe verse así:
![seleccion_077](https://cloud.githubusercontent.com/assets/5421992/22653793/51454ac2-ec69-11e6-93c1-5d15a13c0179.png)

y al llenarse así:
![seleccion_078](https://cloud.githubusercontent.com/assets/5421992/22653913/c69a65dc-ec69-11e6-8f4f-a7c1bd02610a.png)

debe producir:

[code]

Como ayuda, pego un JSON posible:

[2017-02-06 16:23] asanzo commented on #37
Comenzando a jugar en [feature/variables](https://github.com/Program-AR/gs-element-blockly/tree/feature/variables)

[2017-02-06 18:56] asanzo opened #38 "Agregar Funciones Primitivas"
Entre las cosas incompletas de #1 , está Funciones Primitivas.

Debe implementarse de forma similar a primitiveProcedures. Es decir:

* En la interfaz de gs-element-blockly debe aparecer una forma de definirlas
* Debe aparecer la categoría si hay funciones primitivas definidas
* Debe respetar el esquema de reemplazo de guiones bajos por inputs, exactamente de la misma forma que un procedimiento pr

[2017-02-06 19:21] asanzo opened #39 "Faltan operaciones siguiente, previo, opuesto"
dentro de las cosas que faltan de #1, falta también las operaciones siguiente, previo y opuesto. Se ven iguales al not, producen una llamada igual al not, pero con el nombre correspondiente.

[2017-02-06 21:47] afska commented on #23
Tengo una más: método `clear()` para limpiar el workspace (la usaría para alternar entre biblioteca y código principal para cuando esta primera todavía no tiene nada).

[2017-02-06 21:58] afska opened #40 "Saber cuándo el workspace cambió"
GW actualmente borra el estado final y marca todo como "dirty" cuando el código cambia.
Para conservar ese feature, debería tener forma de saber cuándo cambió el workspace de blockly.

Sería lindo tener un evento, aunque con que esté implementado https://github.com/Program-AR/gs-element-blockly/issues/21 (la propiedad  **workspaceXML**) ya bastaría.

En resumen, con poder hacer algo así ya estaría

[2017-02-06 21:58] afska opened #41 "No anda en chrome 47"
Version 47.0.2526.106 (64-bit)

El error es algo así como:
**Uncaught SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode**

¿Están usando algo para compilar de ES6 a ES5?

[2017-02-06 21:58] afska opened #42 "Bloque Program no fijo"
Al principio me pareció re copado que el bloque **Program** venga por defecto. Pero después pensé:
- Cuando voy a escribir código de biblioteca del alumno, no quiero necesariamente escribir un programa y me molestaría que venga por default.
-  Aunque no me molestara, actualmente ese bloque no se puede borrar.

La solución *fácil* para nosotros es hacer que lo tengan que poner a mano siempre (aunqu

[2017-02-06 21:58] afska opened #43 "blockly-package no carga assets en gh-pages"
https://program-ar.github.io/gs-element-blockly/components/gs-element-blockly/

Si van al **demo** se ve:
![screenshot1](https://cloud.githubusercontent.com/assets/1631752/22667797/f9fa7ef0-ecc6-11e6-88a3-d4776fa63b8c.png)

Me pasó lo mismo cuando deployé la primera integración con GW: http://gobstones.github.io/gobstones-web/#/blocks (el tachito de basura no se ve y faltan los sonidos).

Por lo q

[2017-02-06 21:58] afska opened #44 "Congelar todo durante la ejecución animada"
Esto es más para charlar:

Mientras en GW se hace una ejecución animada (o paso a paso), el código se desactiva y solo se le deja la opción de parar la ejecución.

Eso acá habría que:
- o implementar un booleano para poner todo el workspace en modo readonly
- o hacer que si el workspace cambia se pare la ejecución interactiva, que salvo que lo de arriba sea muy fácil de implementar, iría por esta

[2017-02-06 21:59] afska opened #45 "[CONSULTA] ¿Cómo resizear correctamente el elemento?"
Actualmente lo que está en http://gobstones.github.io/gobstones-web/#/blocks agarra el evento **resize** de `window` y le setea a `#blocklyDiv` el `width` y el `height` del panel. Eso como verán no anda muy bien (si cambiás el ancho, no se actualiza hasta que cambiás el alto).

Luego leí que hay una "forma correcta" de manejar esto según blockly: https://developers.google.com/blockly/guides/config

[2017-02-12 01:59] #36 closed, assigned to nobody

[2017-02-12 04:54] #21 closed, assigned to nobody

[2017-02-12 07:27] miguelgarcia commented on #36
Moví el código del evento ready al evento attached

[2017-02-13 16:52] afska commented on #21
@asanzo Podrán publicar una versión de bower con este cambio así puedo avanzar integrándolo?
Saben si esto resuelve #40?

Gracias :)

[2017-02-13 17:17] miguelgarcia commented on #21
Hola @rodri042 debería estar resuelto #21 y #40 en la versión 0.1.2

[2017-02-13 17:19] #40 closed, assigned to afska

[2017-02-13 21:09] #6 closed, assigned to nobody

[2017-02-13 21:19] #26 closed, assigned to nobody

[2017-02-14 03:39] miguelgarcia commented on #13
@asanzo te referís a los nombres en el código que se genera o en la forma de especificar un procedimiento primitivo ? Esto está relacionado a #31, no ?

[2017-02-14 04:49] #31 closed, assigned to nobody

[2017-02-14 17:57] asanzo commented on #13
@miguelgarcia expliqué re mal, perdón.

Tiene que ver con los **espacios** que hay en el nombre del procedimiento:

![seleccion_096](https://cloud.githubusercontent.com/assets/5421992/22941578/cf2582ca-f2c4-11e6-8432-a251703f8274.png)

En general, las reglas en Gobstones son:

* No se usan guiones bajos, salvo únicamente para los procedimientos primitivos (eso lo corregiste perfecto en el issue #3

[2017-02-14 18:34] asanzo commented on #13
Ahora que lo pienso mejor, quizás podemos patear este problema hasta cuando tengamos nuestra propia definición de procedimiento, porque estoy viendo que vas a necesitar tocar el procedure original. Ahora mando un mail.

[2017-02-14 18:41] miguelgarcia commented on #13
Tendría que tocar nuestro generator. Puedo hacer que cuando genera el nombre de procedimiento hacer_algo_con genere HacerAlgoCon, eso no debería llevar mucho.
  Si hace falta validarlo desde la UI, entonces si, tenemos que investigar

[2017-02-14 22:51] #22 closed, assigned to nobody

[2017-02-15 03:37] afska opened #47 "Falta configurar el mensaje del bloque BOOM"
La sintaxis sería:
[code]

(deben ser comillas dobles sí o sí)

[2017-02-15 03:41] afska commented on #47
@faloi Esto es correcto no? Por lo que recuerdo de lo que hablamos el `BOOM` lleva mensaje, y no hay BOOM sin mensaje

[2017-02-15 03:47] asanzo commented on #13
Tenes razón!  Adelante con el generator!

[2017-02-15 03:48] afska opened #48 "El código de los procedimientos tiene comentarios adicionales"
![screenshot at 2017-02-15 00-44-28](https://cloud.githubusercontent.com/assets/1631752/22959877/57651998-f342-11e6-93b4-1d1eda33161d.png)

Habría que sacar el comentario de arriba ("/** * Describe el procedimiento... */")

[2017-02-15 03:56] asanzo commented on #48
No creo que @fidel-ml esté  de acuerdo en que haya que sacarlo.  Fijate que ese comment es el que aparece al apretar el signo de pregunta azul en la definición del procedimiento . Es la documentación del procedimiento, donde podes escribir pre y post condiciones.

Si quieren podemos charlar sobre ese default, también,  en el caso de dejarlo.

[2017-02-15 04:00] afska commented on #48
Entiendo, no sabía que se podía configurar.

¿A alguno le molesta si por ahora cambio la sintaxis de los comentarios? Por alguna razón los comments con "/**" están rompiendo :stuck_out_tongue:

[2017-02-15 04:02] #48 closed, assigned to nobody

[2017-02-15 05:00] afska commented on #42
Esto está solucionado. `workspaceXml` hace todo lo que quiero

[2017-02-15 05:00] #42 closed, assigned to nobody

[2017-02-15 05:01] afska commented on #44
Por ahora implementé la segunda opción. Cualquier cosa lo reabrimos

[2017-02-15 05:01] #44 closed, assigned to nobody

[2017-02-15 05:14] #13 closed, assigned to nobody

[2017-02-15 05:16] miguelgarcia commented on #48
@rodri042 Ahora integro el cambio en los comentarios !

[2017-02-15 05:34] miguelgarcia commented on #41
@rodri042 Hola, no estamos usando nada para compilar de ES6 a ES5, pero usamos chromium 55 o mayor y firefox 45 o mayor para los test.

Qué browsers apuntan a soportar con GW ?

[2017-02-15 05:35] #32 closed, assigned to nobody

[2017-02-15 05:36] #10 closed, assigned to nobody

[2017-02-15 05:46] afska opened #50 "[CONSULTA] Procedimientos de biblioteca del alumno"
@miguelgarcia @asanzo

Para implementar la biblioteca del alumno, ya sea que lo haga con dos instancias de `<gs-element-blockly>` o con una (cambiándole el `workspaceXml` cada vez) me va a pasar que los dos workspaces me queden inconexos: Los procedimientos que el alumno escriba en la biblio no los va a poder ver en el principal ¡y no los va a poder usar! :(

¿Teníamos pensada una forma de hacer e

[2017-02-15 15:54] asanzo commented on #50
Mmmm creo que idealmente deberían estar todos dentro de la categoría "Procedimientos". ¿No, @fidel-ml?

@miguelgarcia ¿Te animás a probar qué sucede si intentás agregar bloques a la categoría del toolbox que tiene `custom='PROCEDURES' ` ?

Creo recordar que el puto de blockly te la vaciaba, no te dejaba usarla para otra cosa que no fueran sus procedimientos. En ese caso, una solución de compromiso

[2017-02-15 16:40] fidel-ml commented on #50
El tema de la biblioteca del alumno está en discusión...
Por el momento, deberían ser bloques como cualquier otro procedimiento
definido por el estudiante.
O sea, técnicamente, la biblioteca hoy debe funcionar como parte del
espacio de trabajo común.
Quizás en algún tiempo definamos que en realidad las cosas ahí vayan a los
"Procedimientos primitivos", pero aún no está conversado.
FF

2017-02-15 1

[2017-02-15 20:27] afska commented on #47
O tal vez @fidel-ml nos sepa decir

[2017-02-15 20:28] asanzo commented on #47
Sí, sí, va con mensaje :)

[2017-02-15 20:29] afska commented on #41
@fidel-ml, dice Fede que definas esto con la Fundación. Habría que ver qué versión viene en las máquinas de Conectar Igualdad

[2017-02-15 20:43] fidel-ml commented on #41
¿Qué cosa exactamente? No entiendo qué es lo que tengo que definir...

On Wed, Feb 15, 2017 at 5:29 PM, Rodrigo Alfonso <notifications@github.com>
wrote:

[2017-02-16 02:52] afska commented on #41
Desde qué versiones browsers queremos (o necesitamos) soportar.

2017-02-15 17:43 GMT-03:00 fidel-ml <notifications@github.com>:

[2017-02-16 07:36] afska commented on #50
Igual me parece piola que queden en una categoría aparte los de la biblioteca, no sé.

Se me ocurre esta interfaz:
- propiedad **libraryProcedures**: Array al estilo `["PonerBolitasEn(color,direccion)", "MoverMuchoHacia(color)"]`

- propiedad `libraryFunctions` similar a lo anterior pero para funciones.

- Al cambiar cualquiera de esas propiedades, si en el workspace se está usando un procedimient

[2017-02-24 21:25] miguelgarcia commented on #37
Ver https://github.com/Program-AR/gs-element-blockly/commit/11e152a45f395c7821b7c515d57ed4945d2ce399

Como hacemos el getter de variables ? botón derecho sobre la asignación y que muestre solo las del contexto ?!

[2017-02-24 21:52] asanzo commented on #37
Creo que podemos olvidarnos del contexto por ahora, mientras tengamos estos procedimientos de porquería :P .

Con que funcione el botón derecho sobre la asignación somos felices. O sea, al hacer click sobre este bloque:
![seleccion_077](https://cloud.githubusercontent.com/assets/5421992/22653793/51454ac2-ec69-11e6-93c1-5d15a13c0179.png)

Debe aparecer un context menu mostrando:
![seleccion_122](ht

[2017-02-25 10:57] fidel-ml commented on #37
Si quieren ir en orden, para esta parte prefiero definición de funciones a asignación...
La asignación aparece al final del capítulo 8, justo antes de interactive en el capítulo 9.
En cambio funciones aparece en el capítulo 4.

[2017-02-25 12:47] fidel-ml opened #51 "Los bloques de los operadores lógicos deben decir "y también" y "o bien" en lugar de "&&" y "||""
Eso. Sería de la misma importancia de corregir los nombres de expresiones primitivas con minúscula y agregar siguiente, etc.

[2017-03-01 19:33] #28 closed, assigned to nobody

[2017-03-01 22:44] #30 closed, assigned to nobody

[2017-03-01 22:44] #51 closed, assigned to nobody

[2017-03-01 22:48] asanzo commented on #39
Fixed in https://github.com/Program-AR/gs-element-blockly/commit/1568acccae3dcb55f72563e143bd0b520dbd5d8c

[2017-03-01 22:48] #39 closed, assigned to nobody

[2017-03-01 23:21] asanzo commented on #50
@rodri042 ¿Qué tanto les costaría meterlos en primitiveProcedures? Tendrían que transformar los nombres de procedimientos agregando guiones bajos al setear la propiedad, y volar los guiones bajos de esos procedimientos (pero no de otros) en la respuesta de generateCode() antes de ejecutar.

Me revienta la cantidad de categorías que tenemos, me gustaría disminuirla. Además, claro está, podemos gast

[2017-03-01 23:52] afska commented on #50
Hmm. A ver, pienso en voz alta:

El pibe en la biblioteca define *PonerEn*, y dice que tiene dos argumentos:
color y dirección.

Al compilarlo me genera algo como:
procedure PonerEn(color, direccion) {
  // etc...
}

Yo parseo eso y al saber que existe ese procedimiento y tiene dos
argumentos, te paso como primitiveProcedures: ["PonerEn__"]

Blockly lo muestra y me lo deja usar pero cuando genero

[2017-03-02 00:28] asanzo commented on #50
Agree. ¿Y qué tal si ponemos tanto los procedimientos primitivos como los de la biblioteca en una categoría "Biblioteca de procedimientos" (y volamos "procedimientos primitivos"?

O sea, estoy proponiendo un cambio de nombre de categoría.

@fidel-ml?

[2017-03-02 00:47] fidel-ml commented on #50
No son procedimientos primitivos. Esos procedimientos son una categoría que
usamos en el manual, y los procedimientos de biblioteca no están entre
esos...
Los procedimientos de biblioteca son procedimientos como cualquiera, y
podrían ir en la categoría de procedimientos definidos por el usuario. Si
los vamos a distinguir, podrían ser por color, pero no por categoría.
Si más adelante decidimos que

[2017-03-02 00:49] fidel-ml commented on #50
Respondí la primera antes. Ahora respondo el resto.
Procedimientos primitivos es una categoría teórica que aparece en el
manual, y muchas actividades hacen uso de ellas. No las podemos volar así
no más...
Sobre los otros, como dije, por ahora son procedimientos comunes y
corrientes.
FF

2017-03-01 21:46 GMT-03:00 Fidel <fidel@unq.edu.ar>:

[2017-03-03 20:51] asanzo commented on #43
@rodri042 @miguelgarcia

En la versión 0.2.3 (que ya pueden instalarse por bower) corregí el problema en el demo:

https://program-ar.github.io/gs-element-blockly/components/gs-element-blockly/

![seleccion_126](https://cloud.githubusercontent.com/assets/5421992/23568532/a4a51f42-0039-11e7-968a-d1a571cb438b.png)

Pero descubrí que la prueba de @rodri042 dejó de funcionar.

El commit que lo arregla

[2017-03-04 15:05] faloi commented on #47
Como está ahora rompe porque el mensaje sí es obligatorio. Hay que arreglarlo en el corto plazo.

[2017-03-04 18:29] #47 closed, assigned to nobody

[2017-03-21 04:59] afska opened #52 ""Cannot read property 'isConnected' of null" al cargar un xml"
Nos tira ese error cargando este xml:

[code]

Para reproducirlo se puede desde https://gobstones.github.io/gobstones-web/#/blocks ir al menú -> cargar bloques y elegir ese xml guardado como `algo.gbjs`

EDIT: Anda en los intentos pares: la segunda vez sí, la tercera no, la cuarta sí, etc

[2017-03-21 15:59] asanzo commented on #52
Buenas!

Pregunta: ¿Están esos procedimientos primitivos definidos en el toolbox en el momento de intentar cargar ese xml?

Me refiero a `IrAlProximoEstudiante`,  `DarCaramelo`, `IrAlEscritorio`, `ComerCaramelos`, `RecolectarPapel`.

Acabo de [agregar un test](https://github.com/Program-AR/gs-element-blockly/commit/d9070ea06beca1c0ce71e3a2ce277a6861e165fc) que prueba que esto anda joya, si agregás

[2017-03-21 17:55] afska commented on #52
Tiene mucho sentido XD. Haciendo eso empezó a andar, y solo falla la primera vez (mismo error), no sé todavía por qué. Voy a jugar un poco más y si no lo logro vuelvo

[2017-03-23 07:47] afska commented on #52
Ya entendí mejor. Efectivamente esto se da cuando el código a setear usa los `primitiveProcedures`.

Pasa algo así:
- Asigno los `primitiveProcedures`
- Seteo el código. Blockly todavía no *hizo su magia* entonces esto falla.
- Blockly *hace su magia*, redibuja y qué se yo, y aparecen los procedimientos primitivos que asigné.
- Si reintento cargar el proyecto, ya anda porque ya están los procedimi

[2017-03-28 14:35] asanzo commented on #52
@rodri042 No lo puedo reproducir.

En el [test que agregué](https://github.com/Program-AR/gs-element-blockly/commit/d9070ea06beca1c0ce71e3a2ce277a6861e165fc) hago exactamente lo que vos decís:

[code]

Y el test corre bien de una.

Incluso me hice un botón que haga esas dos cosas automáticamente (para probar directamente en la app y no en el test), y me dibuja genial los bloques.  (Puedo hacer tu

[2017-03-28 16:06] asanzo opened #53 "Permitir IDs de bloques en otros idiomas"
Depende de #14

El docente que hable otro idioma y deba configurar GobstonesWeb con actividades propuestas, _debe escribir IDs de bloques y de categorías_.

Entonces, necesitamos que los IDs que se seteen en la propiedad `toolbox` **puedan estar en otros idiomas**.

Como ejemplo, ya hicimos una primera iteración de una discusión al respecto con Fidel sobre los bloques en inglés, y los ids podrían

[2017-03-28 16:31] asanzo opened #54 "Generar automáticamente una lista actualizada de los IDs válidos"
Para el docente que crea una actividad en Gobstones Web, es importante contar con la lista de categorías y bloques válidos, que son los que debe poner en la categoría `toolbox`.

Yo agregaría un método público `getValidIDs()` que retorne los IDs válidos, podría retornarlos en un json, lo cual podría servir también para que utilice GobstonesWeb:

[code]

Adicionalmente, haría que en el demo, abajo

[2017-04-06 15:12] #35 closed, assigned to miguelgarcia

[2017-04-06 15:12] #15 closed, assigned to miguelgarcia

[2017-04-06 15:12] #29 closed, assigned to miguelgarcia

[2017-04-06 15:12] #37 closed, assigned to miguelgarcia

[2017-04-06 15:12] #38 closed, assigned to miguelgarcia

[2017-04-06 15:12] #23 closed, assigned to miguelgarcia

[2017-04-06 21:54] asanzo opened #55 "Renombrar IDs de bloques por charlados con Fidel"
1. Comandos (`Comandos`)
   1. Comandos primitivos (`ComandosPrimitivos`). Bloques: `Poner`,`Mover`,`Sacar`,`IrAlBorde`,`VaciarTablero`,`BOOM`
   1. Procedimientos Primitivos. No tiene sentido definir un ID porque aparece cuando se definen procedimientos primitivos.
   1. Procedimientos (`Procedimientos`)
   1. Alternativas (`Alternativas`). Bloques: `AlternativaSimple`, `AlternativaCompleta`
   1

[2017-04-06 22:07] asanzo opened #56 "Agregar dos categorías nuevas: library"
Por lo charlado en #50.

Igual me parece piola que queden en una categoría aparte los de la biblioteca, no sé.

Modificaciones a la interfaz del element:

- Agregar propiedad `libraryProcedures`: Array al estilo `["PonerBolitasEn(color,direccion)", "MoverMuchoHacia(color)"]`

Eso debe producir una categoría "Procedimientos de Biblioteca", puesta luego de la categoría "Procedimientos Primitivos". D

[2017-04-06 22:07] asanzo commented on #50
Insisto en que hay demasiadas categorías, es confuso.

Sin embargo, como hay que avanzar y resolver, hagámoslo [como propuso Rodri](https://github.com/Program-AR/gs-element-blockly/issues/50#issuecomment-280254981).

Cierro este issue de discusión y abro uno para ya cargar la tarea.

[2017-04-06 22:07] #50 closed, assigned to nobody

[2017-04-06 22:57] fidel-ml commented on #50
Alf, no me importa si son pocas o muchas. Lo importante es que sigan una
lógica conceptual. Y así las armamos.  Por eso dije que no hacen falta
distinguir las funciones de la biblioteca: no es una categoría conceptual
diferente. Por lo tanto, la sugerencia de Rodri no hace falta implementarla.
Pero si mis requerimientos. ;)
FF

2017-04-06 19:07 GMT-03:00 asanzo <notifications@github.com>:

[2017-04-07 02:02] asanzo opened #57 "Sanitizar la entrada de BOOM"
Tests que hizo Fidel (estaría bueno que en todos los casos andara, ó diera un error decente):

a.- <<Hacer BOOM porque:Ingresar motivo...>> sin cambiar, da "Unknown operator"
b.- <<Hacer BOOM porque:.>> con un punto, da "Unknown operator"
c.- <<Hacer BOOM porque:..>> con dos puntos, anda bien.
d.- <<Hacer BOOM porque:">> con una comilla, da "Se esperaba ")" pero se encontró """."
e.- <<Hacer BOOM

[2017-04-07 02:26] asanzo commented on #50
Buenas! Hoy no se puede agregar nada a la categoría Procedimientos, porque es una categoría que maneja Blockly como se le canta.

Entonces, tenemos los bloques de la biblioteca, que no podemos agregar a Procedimientos porque Blockly no te deja, y no podemos agregar a Procedimientos Primitivos porque habría problemas de implementación y además conceptuales, por lo que terminan en otra categoría.

P

[2017-04-07 02:31] asanzo commented on #57
@rodri042 @faloi
Por ahora estamos dejando escribir lo que sea, y clavándole una comilla adelante y una atrás.
¿Qué forma debería tener lo que les llegue?

[2017-04-07 02:44] afska commented on #57
Ahí probé con **gobstones-web** y la demo de **gs-element-blockly**.

**a** y **b** son lo mismo: hay un tema cuando el string contiene puntos.
**f** re turbio, es también de GW.

Lo único a solucionar de parte de ustedes para mí es el **d**, donde cosas como `Hola"Mundo` deberían generarse como `Hola\"Mundo`. Esto no significa que eso vaya a funcionar, pero es un primer paso. El tema es que el co

[2017-04-07 03:29] asanzo commented on #57
Listo, ahora estoy sacando las _primeras_ comillas envolventes, si es que existen, y además escapando todas las otras que aparecen con contrabarra.

Ahora escribir `Li"ndo` en el bloque va a escupir `BOOM("Li\"ndo")`.
Ahora escribir `"Li"ndo"` en el bloque va a escupir  `BOOM("Li\"ndo")`.
Ahora escribir `""Li"ndo""` en el bloque va a escupir `BOOM("\"Li\"ndo\"")`.

Ya está disponible en la versión

[2017-04-07 03:29] #57 closed, assigned to nobody

[2017-04-07 06:53] #55 closed, assigned to nobody

[2017-04-07 06:57] asanzo commented on #55
La lista de IDs de bloques por ahora la pongo en la wiki.

 https://github.com/Program-AR/gs-element-blockly/wiki/Block-IDs-for-toolbox

Desde la doc también se ve:

![seleccion_160](https://cloud.githubusercontent.com/assets/5421992/24788872/47e25072-1b46-11e7-8f8f-17dd0e8c33d6.png)

[2017-04-08 18:51] fidel-ml opened #58 "Problemas de parentización en la generación de fórmulas!!"
Si hago un "div" cuyo primer componente es un "+", no pone ningún paréntesis, y genera

nroBolitas(Rojo) + nroBolitas(Azul) div 2

en lugar de

(nroBolitas(Rojo) + nroBolitas(Azul)) div 2

[2017-04-09 00:14] #58 closed, assigned to nobody

[2017-04-10 15:42] miguelgarcia commented on #43
Corregí el path del media en https://github.com/Program-AR/gs-element-blockly/commit/3764ce42f27f81f029a86e0d7986cb2540895896

[2017-04-10 17:20] miguelgarcia commented on #45
Hola Rodri, proba con la versión 0.2.12, agregue código para manejar el evento:

https://github.com/Program-AR/gs-element-blockly/commit/e42ecab5897a113ea89f4b367dce2891e69d609d

[2017-04-10 17:20] #45 closed, assigned to miguelgarcia

[2017-04-10 18:33] asanzo commented on #43
Hola, Mike, perdón que te reabra, pero eso ya lo había intentado, y tiene el problema de que deja de andar en nuestro demo: https://program-ar.github.io/gs-element-blockly/components/gs-element-blockly/

![seleccion_170](https://cloud.githubusercontent.com/assets/5421992/24876523/6827e892-1e02-11e7-9be8-4f46075094dd.png)

(recordá que para deployar el demo tenés que hacer  ./deploy-gh-pages.sh )

[2017-04-10 19:53] miguelgarcia commented on #43
Creo que ya se que pasa, el path del media se está generando relativo a la
página y no al componente, entonces depende de donde se use falla.

Los js de blockly se cargan bien porque no se cargan dinamicamente, son
tags <script> fijos.

Voy a buscarle una solución, les parece agregarle un atributo al componente
que sea media="..." y que eso se le pase a blockly ?

Miguel Angel Garcia

2017-04-10 1

[2017-04-10 20:09] asanzo commented on #43
Pregunta de newbie: ¿No puedo obtener la dirección del componente, para poder setear el media relativo a donde está el componente?

Me pregunto si alguno de los proyectos que chusmeaste al armar este element por primera vez no solucionaba ya este problema.

Si no encontrás nada, hagamos como decís, pero me gustaría agotar un poquito las posibilidades.

Eso sí, si no te lo pasan el atributo media,

[2017-04-10 20:14] miguelgarcia commented on #43
Dale, hagamos así, investigo si hay forma de conocer el location de
bower_components en dinamicamente y si no agregamos el atributo media que
por default funcione para gobstones web.

Miguel Angel Garcia

2017-04-10 17:09 GMT-03:00 asanzo <notifications@github.com>:

[2017-04-11 18:47] fidel-ml commented on #54
Por ahora para el docente, no sé. Pero a mí me vendría bien.
Por prueba y error comprobé que el ID "Operadores" no funciona, y sí funciona "Operaciones". Habría que cambiarlo (con tiempo ;)).

[2017-04-12 04:40] afska commented on #45
Anda joya! Hay un detalle que es que al iniciar se crea con un width y height predefinido (ver https://gobstones.github.io/gobstones-web/#/blocks) y hasta que no se resizea el panel no se adapta.

Una solución muy barata podría ser que yo le pase al elemento el width y height inicial deseado, o capaz se te ocurre una mejor solución @miguelgarcia para triggerear un resize al dibujar el elemento.

*

[2017-04-12 19:45] #54 closed, assigned to nobody

[2017-04-12 19:47] asanzo commented on #54
Fidel, @rodri042, versión 0.3.0

[2017-04-18 16:27] fidel-ml opened #59 "Funciones: el siguiente programa no genera código"
Requiere un procedimiento primitivo "SacarTodas_", y se carga con el siguiente XML:

[code]

[2017-04-18 17:23] asanzo commented on #33
Fidel tiene un ejemplo en el que poniendo una ñ como nombre de procedimiento, estalla el generateCode

[2017-04-18 17:37] asanzo commented on #34
@faloi @fidel-ml
Discutimos con Fidel que pueden ser inline ó no, ¿ debería ser igual a los procedimientos primitivos y las primitivas? Pros? cons?

[2017-04-18 17:38] #41 closed, assigned to nobody

[2017-04-18 17:43] asanzo commented on #53
1. Esto ya se puede agregando alias.
2. La visión de @fidel-ml es que deberíamos dar una interfaz de usuario de creación de actividades para el docente, a futuro.

Tonz x ahora la cierro.

[2017-04-18 17:43] #53 closed, assigned to nobody

[2017-04-18 17:45] asanzo opened #60 "Usabilidad funciones y procedimientos"
Ideas que tiró Fidel:

- Los parámetros deberían poderse "obtener" para usarse fácilmente (no click derecho...) ¿quizás como scratch?
- Los parámetros y variables de un procedimiento no deberían poderse usar fuera de él...
- Debería poderse crear un procedimiento por el usuario que tenga texto + parámetro + texto + parámetro, y así...

[2017-04-18 17:46] asanzo opened #61 "Variables: el uso debe ser local"

[2017-04-18 17:51] faloi commented on #34
A mí el inline me resulta muy simpático, y sigue con la idea de _sentence case_ que venimos laburando: los nombres de procedimientos y funciones son exactamente como los diríamos en español.

Personalmente, me gustaría que seamos consistentes con la decisión que tomamos para las primitivas. Dicho eso, si en términos de desarrollo es muy complejo y tenemos otras prioridades, lo dejaría para una pró

[2017-04-18 17:54] asanzo commented on #24
- Otra idea, es que pueda haber ifelses que ocupen una sola línea. ¿quizás hacer eso con cualquier input statement? ¿Habrá un feature request en blockly?

[2017-04-18 18:02] asanzo opened #62 "Que se grise el bloque no conectado, como en pilas bloques"
@fidel-ml @faloi

![seleccion_177](https://cloud.githubusercontent.com/assets/5421992/25146030/e7389bbc-2448-11e7-8de7-aa779e6fd857.png)

¿Qué codigo les gustaría que escupa un bloque grisado?

¿Evito generar código ó genero de todas formas, como sucede ahora?

Imagino que tiene que ver con la forma en la que quieran mostrar los errores.

[2017-04-18 18:03] fidel-ml commented on #34
El problema más importante de hacerlo con sentenceCase es que todos los
parámetros quedan al final: no se puede lograr que sean como en Scratch,
donde los parámetros quedan en medio. Y eso hace que sea molestoso.

El problema más importante de hacerlo no-inline es que no es homogéneo con
los comandos y procedimientos primitivos, dificultando la visión de que el
programador define nuevos comandos.

[2017-04-18 18:09] faloi commented on #62
Para mí un bloque no conectado no existe, y no quiero que genere nada.

El caso de uso que me imagino para esto es _"estoy probando qué hacen estos comandos y mientras tanto dejo estos otros acá al lado"_, lo cual vi infinitas veces en la forma de laburar de los pibxs de secundaria.

[2017-04-18 18:17] fidel-ml commented on #62
Con ese criterio, entonces, debería aparecer grisado, y no generar código...
FF

2017-04-18 15:09 GMT-03:00 Federico Aloi <notifications@github.com>:

[2017-04-18 18:18] faloi commented on #62
Sí. No sé si me parece super necesario que esté grisado, pero sin dudas ayuda visualmente a comprender que no va a ejecutarse (¿quizás bajarle la opacidad en vez de volverlo gris, para no perder el código de colores?).

[2017-04-19 00:04] fidel-ml commented on #62
Según lo que decía FedeA, un bloque grisado no genera código.
FF

2017-04-18 15:02 GMT-03:00 asanzo <notifications@github.com>:

[2017-04-22 00:11] miguelgarcia commented on #45
Agregue las propiedades width y height al elemento

[2017-04-22 22:48] #43 closed, assigned to miguelgarcia

[2017-04-22 22:49] miguelgarcia commented on #43
Agregue el atributo media, por default va a funcionar como lo en gobstones web. Ya agregue en la demo los cambios para que funcione también en github pages

[2017-05-17 23:31] afska commented on #52
@asanzo perdón el super cuelgue. Lo estuve debuggeando más y era un problema de gobstones-web. Ya lo arreglé!

[2017-05-17 23:31] #52 closed, assigned to nobody

[2017-06-09 05:00] afska opened #63 "Las funciones no andan"
Integrando la última versión con https://gobstones.github.io/gobstones-web-staging encontramos este bug.

Video con lo que probé: https://www.youtube.com/watch?v=KcVMbK_cCco

[2017-06-09 05:43] afska commented on #57
@asanzo Hice un PR sobre esto en https://github.com/Program-AR/gs-element-blockly/pull/64

[2017-06-29 19:20] afska opened #65 "Separar definición de procedimiento de llamada a procedimiento"

[2017-06-29 19:20] afska opened #66 "Separar funciones de procedimientos (moverlas a expresiones)"

[2017-06-29 19:20] afska opened #67 "Tener procedimientos simples y con parámetros"

[2017-06-29 19:20] afska opened #68 "Mejorar la interfaz de los parámetros (volar la estrella y pensar otra forma)"

[2017-06-29 19:21] afska opened #69 "Alguna forma de poder escribir secuencias no solo en forma vertical (eg, Bloque para “;”)"

[2017-06-29 19:21] afska opened #70 ""Duplicar" para más de un bloque"
https://github.com/google/blockly/issues/702

[2017-07-07 04:36] afska opened #71 "Arreglar asignación (botón derecho agrega la expresión al canvas sin mostrar opciones)"

[2017-07-07 04:47] #71 closed, assigned to nobody

[2017-07-07 07:31] #65 closed, assigned to nobody

[2017-07-07 07:32] #63 closed, assigned to nobody

[2017-07-07 07:32] #67 closed, assigned to nobody

[2017-07-07 07:32] afska commented on #65
@asanzo buenas!

Estuve bastante tiempo peleando con los mutators y las cosas turbias de blockly, y en una de esas me di cuenta que:
- Si ponés el `procedures_defnoreturn` en una categoría propia funciona (obviamente perdés el feature de que te llene el toolbox con las calls pero no creo que sea difícil de recuperar).
- El código de https://github.com/google/blockly/blob/master/blocks/procedures.j

[2017-07-13 22:47] #66 closed, assigned to nobody

[2017-07-24 20:57] afska opened #72 "Soportar apóstrofes en nombres de procedimientos / funciones primitivas para indicar mayúsculas"
Detalle en https://github.com/gobstones/gobstones-web/issues/190

[2017-08-03 06:29] afska opened #73 "Ignorar bloques desconectados"
Los bloques que requieren conectarse a otros y no lo están (o sea que están flotando en el workspace) deberían grisarse y no tenerse en cuenta para la generación de código. Esto pasó muchas veces en las pruebas de usabilidad y era bastante duro para el usuario, porque el error no es fácil de detectar.

[2017-08-03 06:29] #73 closed, assigned to nobody

[2017-08-03 06:30] #68 closed, assigned to nobody

[2017-08-03 06:30] #59 closed, assigned to nobody

[2017-08-03 06:32] #62 closed, assigned to nobody

[2017-08-04 18:10] asanzo opened #74 "Crear una categoría con getters de variables y agregar autocomplete a asignación"
Hay varios problemas con los parámetros y las variables:

- ~~Los getters (las expresiones) de variables y parámetros se pueden usar en cualquier lado sin importar el scope/alcance de los mismos. Idem con el comando asignación.~~
- Los getters de variables y parámetros se obtienen con botón derecho en lugares raros, por ejemplo en la asignación. Rodri ya solucionó un problema similar con las llama

[2017-08-10 05:01] afska commented on #8
Hecho en 0.4.0

[2017-08-10 05:01] #8 closed, assigned to nobody

[2017-09-18 19:13] asanzo opened #75 "Simplificar las asociaciones de programa interactivo"
Ver

https://github.com/gobstones/gobstones-web/issues/199

[2017-09-19 17:28] asanzo opened #76 "Zoom y collapse de bloques"
El nuevo blockly lo tiene, pero está deshabilitado por defecto.

[2017-09-19 18:06] asanzo opened #77 "Output con información de los bloques (pragma IDBlock)"
Para que luego sea posible que el intérprete provea mejor informe de errores (señalando el bloque problemático, por ejemplo) y también para que sea capaz de hacer una eventual iluminación del bloque en ejecución.

Para lograrlo podríamos comenzar por los comandos, agregando un pragma, por ejemplo algo así:

[code]

Más adelante podemos pensar qué sucede en el caso de las expresiones, que tiene su

[2017-09-19 18:12] asanzo opened #78 "Método highlightBlock(id)"
Esto le servirá al intérprete de Gobstones para, a medida que va ejecutando, pedirle al elemento que ilumine el bloque actual en ejecución.

[2017-09-19 18:16] asanzo opened #79 "Método showBlockError(id,description)"
Esto permitirá informar un error asociado a un bloque. El intérprete de gobstones así podría informar la ubicación del error y así ofrecerle mejor experiencia al usuario.

Inicialmente podría implementarse con un highlight común, pero agregando quizás un comment al bloque.

[2017-09-19 18:36] asanzo opened #80 "Cuando un hueco está vacío, el output debe ser siempre vacío"
Por ejemplo, en el caso de la condición del if, hoy esto:

![seleccion_350](https://user-images.githubusercontent.com/5421992/30608915-3458c338-9d50-11e7-9159-d705a4c02983.png)

Escupe esto:

[code]
y debería escupir esto:

[code]

Así con todo bloque que tenga un hueco no llenado, sea expresión ó comando.

El objetivo es que de este tipo de errores se encargue el parser de Gobstones, que con otro

[2017-09-20 11:01] fidel-ml commented on #24
Yo creo, hoy, después de haber hecho varios programas medianos, que lo de "DeseableNoObligatorio" es demasiado suave... Es muy importante que el código se pueda organizar para entenderlo.

Por otra parte, no entendí lo de los ifelses y cómo impacta en esto...

[2017-09-20 11:03] fidel-ml commented on #80
Rodri observó con tino que para que esto pueda funcionar, todos los comandos deberían terminar obligatoriamente con punto y coma. Si no, tendrías cosas raras como

a := 1+
Poner(Verde)

y el error sería extrañísimo...

¿No se puede hacer un nivel de análisis de código faltante en Blockly, antes de generar? O sea, que esa asignación chille antes de generar el texto... ¿Se entiende?

[2017-09-20 11:04] fidel-ml commented on #77
¿Esa sintaxis de pragmas la inventaste o la sacaste de lo que hizo Pablo Barenbaum en el nuevo intérprete?

[2017-09-20 11:23] fidel-ml commented on #72
No es suficiente. Si hoy uso comas u otros símbolos en el nombre de un procedimiento, el código generado hace cosas raras...
![bugEnBloques.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58bad8a160fd7e2000a7c8c6/125516c66e82c728ace21e0d46ea819d068ca1a580f8aa46b71fbcd6395428792c07b7692ac7b670b9142e585f0e48aa46500d42fcf98b2df4e03478d95919f1c32f0e2a92624cf5f2d75dad0ba8218c45

[2017-09-20 11:26] fidel-ml commented on #72
Es necesario tener un mecanismo de interfaceo entre nombres de bloques y nombres de texto que sea flexible... Por ejemplo, usar pragmas. En el programa del ejemplo, se podría generar

//@BlockName: "Nueva prueba de coma, beatch"
procedure NuevaPruebaDeComaBeatch() {
  Mover(Este)
  Poner(Rojo)
}

program {
     NuevaPruebaDeComaBeatch()
 }

Marqué eso en gobstones/gobstones-web#190 y agregué gobst

[2017-09-20 11:27] fidel-ml commented on #60
Algunas de estas ya están... Y otras están duplicadas. ¿Vale depurar este issue? ¿Alf?

[2017-09-20 11:30] fidel-ml commented on #33
En el proyecto "Codificando caracteres" del capítulo de "Representación de la información", no pude hacer un procedimiento llamado solamente "Ñ"...
Acá una simplificación...

![bugEnBloques2.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58bad8a160fd7e2000a7c8c6/125516c66e82c728ace21e0d46ea819d068ca1a580f8aa46b70fb2d86b56357c2301a03f32dfa17de7442d54565f1faa475f5716faf9892

[2017-09-20 11:33] fidel-ml commented on #33
Ver #72 y la necesidad de pragmas... Podría generarse

//@Blockname: "Ñ"
procedure Nconmonio() {
  Poner(Rojo)
}

program {
   Nconmonio()
}

(No podría ser solamente "procedure N()" porque si hay un bloque Ñ, seguramente haya uno N también... Ver "Codificando caracteres")

[2017-09-20 18:00] asanzo opened #81 "Deberían poderse crear Funciones puras"
Es decir, algo así:

![seleccion_358](https://user-images.githubusercontent.com/5421992/30659471-454b5420-9e14-11e7-9c66-349335b212ef.png)

(con su correspondiente getter)

[2017-09-20 18:03] asanzo commented on #60
Hechos:

- Las Funciones y los procedimientos deben poder estar en categorías separadas
- La definición de la función/procedimiento debería estar diferenciada del bloque de llamada a función/procedimiento. ¿Quizás con un botón "nuevo procedimiento", como en code.org?

Ya hay issue para:
- #81 Deberían poderse crear funciones puras (sólo return, sin sentencias)
- #24  El procedimiento podría ser "c

[2017-09-20 18:30] asanzo commented on #77
Creo que la ví escrita en algún lado y la copié.

[2017-09-20 18:35] asanzo commented on #24
Es un comentario que había puesto porque me habías tirado la idea de que el si/sino no ocupara tanto espacio a lo alto y sí a lo largo.... Estoy desestimando ese comment por ahora

[2017-09-21 16:37] asanzo opened #82 ""veces" al repetir y "no" por "not""
En vez de:

![seleccion_359](https://user-images.githubusercontent.com/5421992/30707257-4e738618-9ed1-11e7-9e16-63eb5680c9ee.png)

Cambiarlo por:

![seleccion_359](https://user-images.githubusercontent.com/5421992/30707297-70259260-9ed1-11e7-8056-d3a32df96438.png)

y en vez de:

![seleccion_360](https://user-images.githubusercontent.com/5421992/30707373-a8935330-9ed1-11e7-8293-94daf03bcba6.png)

C

[2017-09-21 17:51] fidel-ml commented on #82
De acuerdo.
FF

[2017-09-22 19:59] fidel-ml commented on #77
La sintaxis de Pablo es
/*@NombreDePragma@Parametro-1@Parametro-2@...@Parametro-N@*/

Ejemplo:
/*@Blockld@6ryy@*/

Habría que agregar BlockId como nombre de pragma, pero es fácil.
El tema es si no habría que usar regiones... (o sea, cerrar cada bloque)

[2017-09-29 18:30] asanzo opened #83 "Blockly package: agregar info de blokly"
Cargo esto acá porque no vale la pena abrir un tracker para ese otro proyecto:

A blockly package habría que poner en algún lado a qué commit de blockly está actualizado (con fecha si es posible) .

Taría bueno que sea como parte del make actualizar.

De esta forma, cualquier persona que tenga ese bower_component puede saber qué tan vieja es la versión de blockly que tiene.

[2017-10-03 03:12] afska commented on #77
Claro, para mí habría que usar regiones, ya que el intérprete nuevo me va a decir en qué región sucedió cada snapshot en el paso a paso y sería mucho más fácil.

@foones, ¿nos ayudás con esto? ¿cómo sería la sintaxis?

[2017-10-03 14:42] foones commented on #77
La idea es delimitar las regiones usando esta sintaxis:

`/@BEGIN_REGION@6ryy@/`
`...`
`/@END_REGION@/`

- El motivo para tener un BEGIN y un END es para permitir que las regiones se puedan anidar.

- El motivo para forzar a que el usuario tenga que poner un END manualmente, en lugar de que el intérprete decida dónde va el end de acuerdo con la estructura sintáctica del programa, es que los pragma

[2017-10-04 23:31] fidel-ml opened #84 "En GobstonesWeb, hacer que los bloques inactivos no sean TAN claros, porque no se los llega a distinguir..."

[2017-10-04 23:33] fidel-ml opened #85 "Se podrá hacer que al draguear un bloque, si se va afuera de la pantalla, mueva el foco de la pantalla?"

[2017-10-06 18:30] asanzo opened #86 "Agregar Bloque COMPLETAR"
Tiene que escupir BOOM("El programa todavía no está completo")

Hacer un comando y una expresión, ambos se llaman COMPLETAR, la expresión es boom("El programa no está completo")

[2017-10-06 19:03] asanzo opened #87 "Output de procedimientos debe incluir el pragma con el nombre verdadero del bloque"
ver https://github.com/gobstones/gobstones-web/issues/190

El objetivo es que cada procedimiento nuevo hecho por el chico tenga arriba un pragma.

El bloque siguiente:

![Selección_011.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/576034cdcf435c0e00215284/125516c66e82c728ace21e0d46db9196268180a02c3ab17cf40ca1d665043761260ea62864c7b96aea1a7d575a564efd475e584caeff892ba4b06

[2017-10-10 19:59] fidel-ml opened #88 "Se puede hacer que al abrir un .gbjs el "program" quede ubicado en la esquina superior izquierda de la parte visible? Hoy aparece en cualquier lugar... :("

[2017-10-23 20:53] #81 closed, assigned to nobody

[2017-10-23 22:26] afska opened #89 "Poder quitar "extras" agregados con botón derecho"
Ahora mismo en el bloque interactivo podés agregar un bloque init y un bloque timeout con botón derecho, y en https://github.com/gobstones/gobstones-web/issues/211 se propone una alternativa para poder sumar "elses" a los bloques alternativa.

El problema de esto es: **una vez agregados, no se pueden borrar**.

Agregar un botón para borrar cada bloque estuve investigando y no encontré forma (parec

[2017-10-30 16:28] asanzo commented on #89
@rodri042 lo único que se me ocurre es mirar otros proyectos que juegan con los mutators:

Por ejemplo este:

https://github.com/toebes-extreme/blockly

Permite hacer esto:

![parametrosagregandoysacando](https://user-images.githubusercontent.com/5421992/32182615-dfdec10e-bd75-11e7-8ca4-91e1ace71a31.gif)

(demo [acá](https://pure-object-102213.appspot.com/static/demos/code/index.html))

[2017-10-30 18:54] asanzo commented on #84
Muchachos, esto está hardcodeadísimo en blockly [acá](https://github.com/google/blockly/blob/e93d44e8ff589b9bf21129d50d710030d9345504/core/inject.js#L159). (Es una mezcla entre el #aaa del background y el #cc0 de las líneas cruzadas del pattern).

Les cargué un issue a los de blockly, ¿Les parece si cerramos esto hasta que lo arreglen? (por prolijidad de nuestra lista de tareas).

https://github.c

[2017-10-30 18:58] #76 closed, assigned to nobody

[2017-10-30 19:04] asanzo commented on #76
@rodri042 esto está desde 0.5.4 , si querés integrarlo.

![contraerbloque](https://user-images.githubusercontent.com/5421992/32190248-eb3fee18-bd8b-11e7-9313-31cde978857f.gif)

![zoom](https://user-images.githubusercontent.com/5421992/32190252-edd09d8a-bd8b-11e7-8b3c-0b43a4ec3fee.gif)

Mientras tanto, @fidel-ml lo podés probar acá: http://Program-AR.github.io/gs-element-blockly

Efectivamente era

[2017-10-30 19:05] asanzo commented on #24
Duplicado #76

[2017-10-30 19:05] #24 closed, assigned to nobody

[2017-10-31 14:08] #86 closed, assigned to nobody

[2017-10-31 17:44] #82 closed, assigned to nobody

[2017-10-31 17:46] asanzo commented on #88
No lo puedo reproducir. ¿Me pasan un archivo y las instrucciones para reproducirlo porfa?

[2017-10-31 18:26] asanzo commented on #85
Blockly no deja tocar eso.

Tengo una idea para implementarlo, pero sospecho que me va a llevar **bocha** de tiempo.

Para implementarlo estuve viendo y hay que sobreescribir métodos en block_dragger.js, más específicamente `Blockly.BlockDragger.prototype.dragBlock`, y sus correspondientes `startBlockDrag` y `endBlockDrag` para que esos llamen a los métodos análogos del WorkspaceDragger, e inverti

[2017-10-31 19:50] #78 closed, assigned to nobody

[2017-11-01 02:54] afska commented on #77
Ahí actualicé la descripción del issue con el nuevo formato.

:warning: Esto tendría que ser opcional a la hora de generar código (`generateCode({ withRegions: true })` o `generateCode()`) para que la opción "ver código generado" de gobstones-web siga mostrando código legible!

[2017-11-01 05:36] #75 closed, assigned to nobody

[2017-11-01 05:38] afska commented on #75
@asanzo @fidel-ml hice esto en la 0.5.7!

[2017-11-01 23:00] asanzo commented on #77
¿Por qué el objetito con las opciones? ¿Tenés alguna más en la cabeza que se me esté escapando @rodri42 ?

[2017-11-02 00:20] afska commented on #77
Ah, solo por si en el futuro queremos agregar más sin romper la interfaz.
Pero tmb podría ser el booleano nomás

On Nov 1, 2017 8:00 PM, "asanzo" <notifications@github.com> wrote:

[2017-11-02 18:36] fidel-ml opened #90 "Mejorar los procedimientos (para que los parámetros sean decentes...)"
1.- Que los getters de los parámetros no se puedan usar en otros procedimientos (o que el error que dé sea realmente copado, onda "El parámetro x solo se puede usar en el procedimiento TAL")
2.- Que se puedan renombrar parámetros (renombrando todos sus getters)
3.- Que se puedan borrar parámetros que no sean el último (y borre los getters -- con confirmación?)
4.- Sería piola (no imprescidible, pe

[2017-11-03 15:42] asanzo commented on #88
El program está en la esquina superior izquierda. Lo que pasa es que debería aparecer visible.

[2017-11-03 16:00] #85 closed, assigned to nobody

[2017-11-03 16:14] asanzo commented on #72
Duplicado/incluido en #87

[2017-11-03 16:14] #72 closed, assigned to nobody

[2017-11-03 16:28] #34 closed, assigned to nobody

[2017-11-03 16:28] #56 closed, assigned to nobody

[2017-11-03 16:29] #20 closed, assigned to nobody

[2017-11-03 16:29] asanzo commented on #3
Duplicar #70

[2017-11-03 16:29] #3 closed, assigned to nobody

[2017-11-03 16:32] asanzo opened #91 "Sanitización nombres"

[2017-11-06 20:28] asanzo opened #92 "Cuidar duplicados de nombres de variables"
Cuando se cambia un nombre, hay que eliminar duplicados

[2017-11-06 20:30] asanzo opened #93 "Eliminación de variable getter no acepta Ctrl+z"
- Crear una asignación
- Hacer un getter
- eliminar el getter
- hacer ctrl z
- cambiar el nombre de la variable -> estalla la consola

[2017-11-06 20:30] asanzo commented on #91
Implementé esto:

![nanaras](https://user-images.githubusercontent.com/5421992/32457871-46d38ece-c309-11e7-80c5-9a43ee09e326.gif)

Escupe:

[code]

También agregué ese chequeo a los parámetros de las funciones y procedimientos, sucede lo mismo.

Y también a la asignación, y de yapa te hice la modificación de los parámetros, @fidel-ml :

![asignacion](https://user-images.githubusercontent.com/54219

[2017-11-06 20:35] asanzo commented on #91
Me faltó testear las variables.

@rodri042 esto se integra en la 0.5.11

@fidel-ml se puede probar en https://program-ar.github.io/gs-element-blockly/

[2017-11-06 23:53] fidel-ml commented on #91
Un detalle que vi: las variables, parámetros y funciones deben empezar con
minúscula, como toda expresión no literal.

Por el resto, tengo que sentarme con tranquilidad a verlo...
Gracias, capo!

[2017-11-07 02:36] asanzo commented on #91
¿También en el nombre del bloque?

[2017-11-07 16:26] fidel-ml commented on #91
Los nombres de procedimientos en Gobstones son siempre con mayúsculas...
FF

On Nov 6, 2017 23:37, "asanzo" <notifications@github.com> wrote:

[2017-11-07 16:27] asanzo commented on #91
Arreglado en 0.5.12

![seleccion_012](https://user-images.githubusercontent.com/5421992/32504558-e1e7449a-c3be-11e7-9ef1-6d097185f897.png)

escupe:

[code]

A lo que me refería, Fidel, es a que si le tengo que obligar a escribir con minúscula a quien escrible el nombre del bloque. Como se ve arriba, decidí que no.

[2017-11-07 16:30] fidel-ml commented on #91
Ah, perfecto.
Mientras resulte Gobstones compatible. :)
Después veremos los mensajes de error.
FF

On Nov 7, 2017 13:28, "asanzo" <notifications@github.com> wrote:

[2017-11-07 16:45] asanzo commented on #80
Hola, @fidel-ml !

Estoy analizando este issue. Hacer el chequeo de bloque incompleto no es trivial. Hay que ver cuándo se hace. Podemos usar nuestro bloque "completar" y chantarlo en todos lados.

Mientras tanto, de todas formas, hay que analizar qué se escupiría en caso de no haber nada.

Hoy todos los bloques sin completar:

![Selección_013.png](https://waffleio-direct-uploads-production.s3.ama

[2017-11-07 16:54] afska commented on #80
Yo decía de dejar por ejemplo:

a := 1 + ;
if () {
  a := Rojo == ;
  b := not() ;
}

(y terminar toda sentencia con punto y coma más que nada para el primer
caso, que el error sea tipo: "se esperaba otro número pero se obtuvo un fin
de sentencia")

Igual todavía no sé si se lo banca (el punto y coma), que confirme @foones
:P

El 7 de noviembre de 2017, 13:45, asanzo <notifications@github.com>
esc

[2017-11-07 16:55] fidel-ml commented on #80
Es mejor () que ('')...
De última, con los identificadores de regiones debería ser fácil indicar
dónde está el error...
No estaría bien poner completar en todos lados, porque su función es otra,
y porque el mensaje de error sería en tiempo de ejecución y no en parsing.
FF

[2017-11-07 19:14] asanzo commented on #80
El punto y coma es una gran forma de solucionar algunos problemas, pero no soluciona todos los problemas. ¿qué pasa en este caso?:

![seleccion_015](https://user-images.githubusercontent.com/5421992/32511976-312380c2-c3d4-11e7-94d0-601f2c80a25e.png)

[code]

¿Hay alguna mejoría en la detección de errores en alguna de las dos opciones? ¿Hay una mejor opción?

Siento que puedo estar avanzando demasi

[2017-11-07 19:19] afska commented on #80
Claro, y si en vez de generar código tirás una excepción con los id de
bloques con caja vacía? Yo la capturo, los pinto y digo "Hay bloques con
espacios sin completar"

On Nov 7, 2017 4:14 PM, "asanzo" <notifications@github.com> wrote:

[2017-11-07 19:20] fidel-ml commented on #80
El punto y coma ayuda en un montón de lugares, creo (¿@foones?)
Me gusta la opción 2... (con paréntesis). Creo que va a ser más fácil que
encuentre errores, aunque eso debería decirlo @foones...

[2017-11-07 19:21] fidel-ml commented on #80
Eso sería mucho mejor: los bloques no dejan generar código si no está todo
completo... Pero esto agregar overhead de chequeo a los bloques, que quizás
sea demasiado.

[2017-11-07 21:16] asanzo commented on #79
En el branch blockError estoy jugando con esto.

![Selección_016.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/576034cdcf435c0e00215284/125516c66e82c728ace21e0d46db9196268180a02c3ab17cf40ca6d665043761260ea62864c7b96aea1a7d575a564efd475e584caeff892ba4b06e26825458e8c3714d36976345f3e5db55ea43a82a994d85bcbd8f4dc0e8352ce78f8a4a3e161755.png)

También podría ser así:

![Selecci

[2017-11-07 23:02] fidel-ml commented on #79
¿Podés ofrecer un showBlockError en la API al que le pases color, grosory
mensaje? Entonces es el intérprete el que elige cómo mostrar cada error...
;)

[2017-11-08 14:18] asanzo commented on #79
Mmmmno. Necesitamos definir los niveles de información de forma abstracta, independientemente de su visualización. Ese es el laburo interesante y valioso.

No es responsabilidad del intérprete encargarse de saber de qué color debe mostrarse un warning o error. Sí es responsabilidad del mismo saber de qué tipo de error se trata.

Que se encargue después el frontend de gs-element-blockly de definir,

[2017-11-08 18:56] asanzo commented on #77
Estoy mirando con cariño esto y veo que estamos olvidando las expresiones.

El procedure:

[code]

Para `cant` escupiría también `/@BEGIN_REGION@43asdf@/cant/@END_REGION@/`y para `color`, ídem para los literales y todos los operadores y sensores, quedando:

[code]

Y me acabo de dar cuenta que vamos a tener un problema porque los ID de Blockly pueden tener `@`.  @foones ¿Podemos envolverlos en com

[2017-11-08 21:48] fidel-ml commented on #79
Solo hay 2 niveles en Gobstones (o a lo sumo, 3).
1.- Errores sintácticos (o de formación de bloques)
2.- Errores de tipo
3.- Errores de ejecución

En Gobstones, 2 y 3 son errores de ejecución. Es interesante distinguir los
errores de tipo de los de ejecución, pero no veo por qué distinguir
diferentes errores de ejecución... (Caerse del tablero, sacar lo que no
hay, dividir por cero, o que el usua

[2017-11-08 21:49] fidel-ml commented on #79
¡Ah! Una repetición con valor negativo es como un skip... ;) ¿Vos decís que
debería dar un error?
FF

[2017-11-08 22:42] asanzo commented on #79
Yo también estaba pensando en esos tres tipos :). Sólo preguntaba de paso si podría haber otros.

Mi pregunta en realidad se basa en una premisa: El error es bueno. El error es una oportunidad de aprender algo. Y otra premisa más, que es que va a haber errores.

Los distintos tipos de errores tienen relación con distintas fases en el aprendizaje. Un error de tipos es un error en la semántica: deci

[2017-11-09 00:32] fidel-ml commented on #79
Me encantó tu argumentación. Y compro... Pero no tengo claro cómo hacer
ahora. Habría que conversarlo.

Lo que no estoy seguro es que eso sea solamente un tema de los bloques...
Es parte del intérprete de Gobstones determinar la naturaleza del error.
Justamente, vos lo decís cuando mencionás a los lenguajes industriales. ;)

[2017-11-10 00:15] asanzo opened #94 "Parámetros no sanitizan bien."
Se genera esto:

procedure PonerCarácter(código_de_carácter_a_poner) {
  LimpiarCelda()
  Poner__Veces(Negro, códigoDeCarácterAPoner)
  AvanzarCursor()
}

O sea, el uso y la definición no siguen los mismos algoritmos de generación de nombres... :)

[2017-11-14 20:21] asanzo commented on #80
Por ahora clavé  paréntesis en los vacíos, esperando 2 cosas:

1) descubrir más fácilmente los problemas con los operadores y
2) En un futuro no lejano agregar el chequeo de bloque completo.

[2017-11-14 20:22] #80 closed, assigned to nobody

[2017-12-05 23:33] #94 closed, assigned to nobody

[2017-12-05 23:37] #91 closed, assigned to nobody

[2017-12-06 01:06] afska commented on #74
La primera quedó solucionada con el cambio de los parámetros nuevos

[2017-12-06 01:10] afska commented on #60
Este issue quedó medio viejo, lo cierro!

[2017-12-06 01:10] #60 closed, assigned to nobody

[2017-12-06 01:10] #61 closed, assigned to nobody

[2017-12-06 03:09] #90 closed, assigned to afska

[2017-12-06 03:09] #89 closed, assigned to afska

[2017-12-06 03:55] afska commented on #92
Edité el título porque lo que es parámetros y procedimientos lo arreglé.

Con las variables no entiendo muy bien qué habría que hacer...
Si renombro el lado izquierdo de una asignación, no sé si quiero que me renombre la variable o que elimine sus otros usos. Capaz que solo me confundí y en vez de usar A usé B.

Tal vez podríamos pensar esto como "eliminar los usos de variables que no hayan al men

[2017-12-11 15:10] asanzo commented on #92
Blockly ya resuelve casi todo problema de nombres.

[code]

Eso debería hacer magia con cosas duplicadas evitando que sucedan. Con procedimientos y etcéteras es similar, e incluso hay muchos problemas que ya blockly resuelve por defecto y es buena idea chusmearlos y no volver a reinventar la rueda.

Pero igual no termino de entender el problema original del issue, ni el problema actual.

Respecto

[2017-12-11 20:32] asanzo commented on #79
Estuve discutiendo formas de mostrar información en los bloques con Jacquie, y me tiró un par de ideas, que dejo por acá y luego sigo trabajando:

- Le planteé que el rojo es fuerte, quizás disuasivo, y quiero analizar otras formas de llamar la atención.
- Quizás no diferenciar por el color / grosor del borde del bloque
- Mostrar el bloque en gris puede servir también
- Otra forma de mostrar ó bie

[2017-12-12 14:36] fidel-ml commented on #79
señale "Acá"? (Pienso en un docente, que aparece y le dice "Este es el que
parece que está causando problemas" o algo así...)
Las otras opciones, habría que verlas en acción para decidir.
FF

[2017-12-12 23:03] asanzo commented on #79
Me había tirado también la idea jackie :)

Por ahora queda así:
![seleccion_048](https://user-images.githubusercontent.com/5421992/33913122-578567b2-df77-11e7-9c6b-36fcb2456d64.png)

Y en el código definido claramente el lugar donde debe tocarse el css para mostrar diferentes errores: https://github.com/Program-AR/gs-element-blockly/blob/010420d0aff254bec824e41742cffdfb8e2cbfba/js/errors.js#L110

[2017-12-12 23:03] #79 closed, assigned to nobody

[2017-12-12 23:31] fidel-ml commented on #79
Ferpecto.
Justo te iba a pedir cambiar el texto, pero lo vemos... (Me gusta más "Hay
un error a causa de este bloque, o cerca de él", o algo así. No como
pregunta, sino como afirmación, porque si lo estás mostrando es que hay un
problema. Lo que no sabés seguro es si es o no culpa de este bloque...)
FF

[2017-12-13 00:04] asanzo commented on #79
Exacto, no sé si es justo este bloque. Bah, va a depender del caso, y el parser es un poco de quien depende.

Ah, evité la palabra "error" un poco por su estigmatización, y puse la pregunta pensando en los casos donde el error de tipos está lejos del bloque que estalla (si llamás a Cuadrado con un color en vez de un número, estalla el repetir que está dentro de Linea que está dentro de Cuadrado, y

[2017-12-27 22:47] asanzo commented on #87
Arreglado en https://github.com/Program-AR/gs-element-blockly/commit/d630b2c9e1dcf3645da73aabb9101702712a15bb

[2017-12-27 22:47] #87 closed, assigned to nobody

[2017-12-27 22:49] asanzo commented on #77
Hice un avance importante en https://github.com/Program-AR/gs-element-blockly/commit/d630b2c9e1dcf3645da73aabb9101702712a15bb (por ahora en el branch pragmaRegion )

![seleccion_070](https://user-images.githubusercontent.com/5421992/34395433-ee065700-eb3e-11e7-9b61-2fa6f9ee1608.png)

Puede probarse en https://program-ar.github.io/gs-element-blockly/

[2017-12-28 17:14] afska commented on #77
Buenísimo!

Qué le falta? Lo podría ya integrar a gobstones-web?

[2017-12-28 17:34] asanzo commented on #77
En el branch pragmaRegion lo tengo casi cocinado, tengo que terminar de hacer algunos tests.

Lo más importante seguro va a ser que @foones revise las decisiones que tomé sobre cómo escupir las regions de los diferentes bloques (programa interactivo, definiciones, bindings, expresiones, literales, etc.).

Entre hoy y mañana lo liquido, y éste es mi último aporte por un tiempo largo / indefinido (s

[2017-12-29 14:38] asanzo commented on #77
Bueno, muchachos, @fidel-ml @foones @rodri042 , terminé con esto.

- Pueden probarlo en https://program-ar.github.io/gs-element-blockly/
- Está en la versión ya subida [0.6.0](https://github.com/Program-AR/gs-element-blockly/commit/99bae654fb083f905c393bc19a325a1a7777916c) (Rodri, lo podés integrar)
- Cualquier cosa me chiflan. Como les dije, yo me voy a borrar por un tiempo largo, al menos oficia

[2017-12-29 14:38] #77 closed, assigned to nobody

[2018-01-16 23:31] afska opened #96 "Activar travis para este repo"
@asanzo cuando puedas podrás activarlo y/o darme permisos?

Hice unos cambios para que por cada tag, Travis arme y publique una gema para que pueda ser usado desde Mumuki.

[2018-01-16 23:33] afska commented on #96
No dije nada! Encontré la forma :smiley_cat:

[2018-01-16 23:33] #96 closed, assigned to nobody

[2018-02-21 07:01] afska opened #99 "Arreglar "else if": ahora tiene que generar "elseif""
@fidel-ml por qué el cambio? Solo por curiosidad :stuck_out_tongue:

Relacionado con https://github.com/gobstones/gobstones-interpreter/pull/26

[2018-02-21 10:26] fidel-ml commented on #99
Porque else if genera una irregularidad en la gramática al permitir omitir
llaves, y no expresa adecuadamente el concepto de alternativa múltiple.

On Feb 21, 2018 4:02 AM, "Rodrigo Alfonso" <notifications@github.com> wrote:

[2018-02-27 14:24] luchotc opened #100 "Media not being found"
https://github.com/Program-AR/gs-element-blockly/blob/80dc10890eca6e3ee98505a0b2cbc996176eced9/gs-element-blockly.html#L211

This causes the path to be relative to the calling url and the media isn't found when using it in other projects

[2018-03-12 18:35] asanzo commented on #100
Absolutely right. The path should be delivered as a parameter to the component. ( I edited your comment to point to the permalink of the line)

[2018-03-19 17:46] afska commented on #100
Hmm, it's already a parameter :stuck_out_tongue: (`media`), and `"../bower_components/blockly-package/media/"` is just a default value.

[2018-03-22 06:18] afska commented on #100
I fixed the problem in mumuki-gobstones-runner using:
[code]

so the `media` parameter is working. Closing!

[2018-03-22 06:18] #100 closed, assigned to nobody

[2018-04-04 12:31] #99 closed, assigned to nobody

[2018-04-04 13:33] asanzo opened #103 "Referencia a Blockly desde el demo: no anda en Firefox"
El demo:

https://program-ar.github.io/gs-element-blockly/

Tiene un error que hace que nada ande:

![seleccion_251](https://user-images.githubusercontent.com/5421992/38310638-7df7a05c-37f3-11e8-9d98-bd25fadd7033.png)

Yo creía que no se podía acceder tan campantemente a Blockly desde ahí. @rodri042 alguna vez anduvo esto?

[2018-04-04 15:30] afska commented on #103
A mí me anduvo siempre... y acabo de entrar desde el celu también.

Aunque debo admitir que me faltó probar en Firefox

On Apr 4, 2018 10:33 AM, "asanzo" <notifications@github.com> wrote:

El demo:

https://program-ar.github.io/gs-element-blockly/

Tiene un error que hace que nada ande:

[image: seleccion_251]
<https://user-images.githubusercontent.com/5421992/38310638-7df7a05c-37f3-11e8-9d98-bd25

[2018-04-04 15:34] asanzo commented on #103
Exactamente, me acabo de fijar y en Chrome anda, pero en FF no. Qué manía esta de programar sólo pa Chrome, eh XD.

[2018-04-04 15:37] afska commented on #103
"se me chispoteó" :P

Hoy más a la noche veo cómo arreglarlo!

On Apr 4, 2018 12:35 PM, "asanzo" <notifications@github.com> wrote:

Exactamente, me acabo de fijar y en Chrome anda, pero en FF no. Qué manía
esta de programar sólo pa Chrome, eh XD.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/Program-AR/gs-element-blockly/i

[2018-04-05 04:17] #103 closed, assigned to nobody